<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <% if(pick !== null){ %>
          <p>Random Pick <%= pick %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <% if(name !== null){ %>
          <p><%= name %></p>
        <% } %>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <% if(hours !== null){ %>
          <p><%= hours %></p>
        <% } %>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <% if(address !== null){ %>
          <p><%= address %></p>
        <% } %>
      </fieldset>
    </div>

    <div class="container">
      <fieldset>
        <% if(photo !== null){ %>
          <p><img src= <%= photo %> ></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
